/* CSS for logdanger class */
.logdanger {
color: #920000;
}

/* CSS for loggood class */
.loggood {
color: #2fe42f;
}

/* CSS for loginfo class */
.loginfo {
color: #1e1ed8;
}
/* respect the format of the original log file */ 
.log-container {
white-space: pre-wrap;
}
/*can we get a gray background please, light mode hurts */
body {
background-color: #404040bd;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  .tab button:hover {
    background-color: #ddd;
  }
  .tab button.active {
    background-color: #ccc;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
